{% extends "layout.html" %}

{% block title %}tos{% endblock %}

{% block content %}
<p style="margin-top: 20px">
    clear-pay is provided to you (the developer) with a few terms of service (and use) attached.<br>
    Not happy with these TOS? You're free to host your own clear-pay instance, as it's <a href="https://github.com/utterclarity/clear-pay">entirely open source</a> (under the MIT license).
</p>
<p>
    <ul>
        <li>You won't abuse the services registration/recovery form.</li>
        <li>You won't use the service to intentionally bring harm to the server(s)/network(s) the service is hosted on.</li>
        <li>You won't launch attacks against the server(s)/network(s) the service is hosted on.</li>
        <li>You use the service with good intentions.</li>
        <li>You have fun using the service. (<i>optional, but suggested</i>)</li>
    </ul>
</p>
{% endblock %}